**MÔ TẢ VẤN ĐỀ**

Bài toán mới yêu cầu sử dụng nhiều trường dữ liệu hơn và chọn ra số cụm theo yêu cầu của nghiệp vụ chứ ko remain 2 cụm nữa

**Sửa lại bài toán sau feedback**

- Thông tin dữ liệu sử dụng:
    + AGE: Tuổi
    + CHANNEL: Kênh mở
    + NAV_WEIGHT: Tỷ trọng NAV (NAV 31/12 / NAV Max)
    + CASH_IN_6M: Cash in 6 tháng cuối năm (30/6/2024 - 31/12/2024)
    + CASH_OUT_6M: Cash out 6 tháng cuối năm (30/6/2024 - 31/12/2024)
    + TRADING_COUNT_1M: Số ngày giao dịch trong 1 tháng cuối năm (30/11/2024 - 31/12/2024)
    + TRADING_COUNT_2M: Số ngày giao dịch trong 2 tháng cuối năm (31/10/2024 - 31/12/2024)
    + TRADING_COUNT_3M: Số ngày giao dịch trong 3 tháng cuối năm (30/09/2024 - 31/12/2024)
    + TRADING_COUNT_6M: Số ngày giao dịch trong 6 tháng cuối năm (30/6/2024 - 31/12/2024)
    + VQGD_6M: Vòng quay giao dịch 6 tháng cuối năm (30/6/2024 - 31/12/2024)
    + GTGD_6M: Giá trị giao dịch 6 tháng cuối năm (30/6/2024 - 31/12/2024)
    + PROFIT_LOSS: Lãi lỗ thực hiện trong năm nay (01/01/2024 - 31/12/2024)
    + PROFIT_LOSS_PERCENTAGE: Phần trăm lãi lỗ thực hiện trong năm nay (01/01/2024 - 31/12/2024) 
    + LOGIN_COUNT_1M: Số lần Login trong 1 tháng gần đây (30/11/2024 - 31/12/2024)
    + LOGIN_COUNT_2M: Số lần Login trong 2 tháng gần đây (31/10/2024 - 31/12/2024)
    + LOGIN_COUNT_3M: Số lần Login trong 3 tháng gần đây (30/09/2024 - 31/12/2024)
    + LOGIN_COUNT_6M: Số lần Login trong 6 tháng gần đây (30/11/2024 - 31/12/2024)
    + ACTIVE_AGE: Khoảng thời gian Active từ lúc họ giao dịch lần đầu đến lúc thời điểm hiện tại (31/12/2024)
- Áp dụng mô hình: K-means

**CÀI THƯ VIỆN**

In [1]:
from common.ultis import preprocessing
import pandas as pd

---

**BẮT ĐẦU ĐỌC DỮ LIỆU**

In [7]:
df = pd.read_csv("data/data_active.csv")
df.head()
df_login = pd.read_csv("data/active_login.csv")

In [3]:
#drop trường "#_x"
df.drop(columns=["#_x"], inplace=True)

#drop trường "#_y"
df.drop(columns=["#_y"], inplace=True)

**TÌM HIỂU KIỂU DỮ LIỆU CÁC BIẾN**

In [4]:
df.info() # tìm hiểu kiểu dữ liệu của các biến

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102877 entries, 0 to 102876
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   MASTER_ACCOUNT          102877 non-null  object
 1   CHANNEL                 102877 non-null  object
 2   AGE                     102669 non-null  float64
 3   NAV_WEIGHT              102877 non-null  float64
 4   NAV_BQ_12M              102877 non-null  float64
 5   CASH_IN_6M              49588 non-null   float64
 6   CASH_OUT_6M             55728 non-null   float64
 7   TRADING_COUNT_1M        77064 non-null   float64
 8   TRADING_COUNT_2M        77064 non-null   float64
 9   TRADING_COUNT_3M        77064 non-null   float64
 10  TRADING_COUNT_6M        77064 non-null   float64
 11  GTGD_6M                 77064 non-null   float64
 12  VQGD_6M                 77064 non-null   float64
 13  PROFIT_LOSS             91534 non-null   float64
 14  PROFIT_LOSS_PERCENTAGE  91529 non-null   float64
 15  ACTIVE_AGE              102877 non-null  int64
 16  login_count_1M          95541 non-null   float64
 17  login_count_2M          95541 non-null   float64
 18  login_count_3M          95541 non-null   float64
 19  login_count_6M          95541 non-null   float64
dtypes: float64(17), int64(1), object(2)
memory usage: 15.7+ MB

In [5]:
df.duplicated().any()  # kiểm tra xem có xuất hiện dữ liệu trùng lặp không

False

In [6]:
df.isnull().sum() # Kiểm tra các giá trị null trong dữ liệu

MASTER_ACCOUNT                0
CHANNEL                       0
AGE                         208
NAV_WEIGHT                    0
NAV_BQ_12M                    0
CASH_IN_6M                53289
CASH_OUT_6M               47149
TRADING_COUNT_1M          25813
TRADING_COUNT_2M          25813
TRADING_COUNT_3M          25813
TRADING_COUNT_6M          25813
GTGD_6M                   25813
VQGD_6M                   25813
PROFIT_LOSS               11343
PROFIT_LOSS_PERCENTAGE    11348
ACTIVE_AGE                    0
login_count_1M             7336
login_count_2M             7336
login_count_3M             7336
login_count_6M             7336
dtype: int64

In [8]:
df_login.isnull().sum() # Kiểm tra các giá trị null trong dữ liệu

#                    0
MASTER_ACCOUNT       0
login_count_1M    7336
login_count_2M    7336
login_count_3M    7336
login_count_6M    7336
dtype: int64

---

**XỬ LÝ NULL**

In [52]:
df_copy.isnull().sum() # Kiểm tra các giá trị null trong dữ liệu

MASTER_ACCOUNT                0
CHANNEL                       0
AGE                         208
NAV_WEIGHT                    0
NAV_BQ_12M                    0
CASH_IN_6M                53289
CASH_OUT_6M               47149
TRADING_COUNT_1M          25813
TRADING_COUNT_2M          25813
TRADING_COUNT_3M          25813
TRADING_COUNT_6M          25813
GTGD_6M                   25813
VQGD_6M                   25813
PROFIT_LOSS               11343
PROFIT_LOSS_PERCENTAGE    11348
ACTIVE_AGE                    0
login_count_1M             7336
login_count_2M             7336
login_count_3M             7336
login_count_6M             7336
dtype: int64

In [53]:
# fill các null value bằng 0 đối với các cột sau:
# 'CASH_IN_6M'
# 'CASH_OUT_6M'
# 'TRADING_COUNT_1M'
# 'TRADING_COUNT_2M'
# 'TRADING_COUNT_3M'
# 'TRADING_COUNT_6M'
# 'GTGD_6M'
# 'VQGD_6M'
# PROFIT_LOSS               
# PROFIT_LOSS_PERCENTAGE
# 'login_count_1M'
# 'login_count_2M'             
# 'login_count_3M'
# 'login_count_6M' 
df_copy['CASH_IN_6M'] = df_copy['CASH_IN_6M'].fillna(0)
df_copy['CASH_OUT_6M'] = df_copy['CASH_OUT_6M'].fillna(0)
df_copy['TRADING_COUNT_1M'] = df_copy['TRADING_COUNT_1M'].fillna(0)
df_copy['TRADING_COUNT_2M'] = df_copy['TRADING_COUNT_2M'].fillna(0)
df_copy['TRADING_COUNT_3M'] = df_copy['TRADING_COUNT_3M'].fillna(0)
df_copy['TRADING_COUNT_6M'] = df_copy['TRADING_COUNT_6M'].fillna(0)
df_copy['GTGD_6M'] = df_copy['GTGD_6M'].fillna(0)
df_copy['VQGD_6M'] = df_copy['VQGD_6M'].fillna(0)
df_copy['PROFIT_LOSS'] = df_copy['PROFIT_LOSS'].fillna(0)
df_copy['PROFIT_LOSS_PERCENTAGE'] = df_copy['PROFIT_LOSS_PERCENTAGE'].fillna(0)
df_copy['login_count_1M'] = df_copy['login_count_1M'].fillna(0)
df_copy['login_count_2M'] = df_copy['login_count_2M'].fillna(0)
df_copy['login_count_3M'] = df_copy['login_count_3M'].fillna(0)
df_copy['login_count_6M'] = df_copy['login_count_6M'].fillna(0)


# fill các null value bằng giá trị median của cột đó đối với cột AGE
df_copy['AGE'] = df_copy['AGE'].fillna(df_copy['AGE'].median())

---

**DATA PREPROCESSING**

In [55]:
# drop trường 'MASTER_ACCOUNT'
df_copy = df_copy.drop(['MASTER_ACCOUNT', 'CHANNEL'], axis=1)
#find and remove outlier using IQR
df_copy = remove_outliers(df = df_copy, column = df_copy.columns)

Column: AGE
Q1: 31.0, Q3: 43.0, IQR: 12.0, Upper: 61.0, Lower: 13.0
Column: NAV_WEIGHT
Q1: 0.0143316330319121, Q3: 0.8916751391705107, IQR: 0.8773435061385986, Upper: 2.207690398378409, Lower: -1.3016836261759859
Column: NAV_BQ_12M
Q1: 6218754.516393443, Q3: 176656394.22677594, IQR: 170437639.7103825, Upper: 432312853.7923497, Lower: -249437705.0491803
Column: CASH_IN_6M
Q1: 0.0, Q3: 33150000.0, IQR: 33150000.0, Upper: 82875000.0, Lower: -49725000.0
Column: CASH_OUT_6M
Q1: 0.0, Q3: 39245753.0, IQR: 39245753.0, Upper: 98114382.5, Lower: -58868629.5
Column: TRADING_COUNT_1M
Q1: 0.0, Q3: 1.0, IQR: 1.0, Upper: 2.5, Lower: -1.5
Column: TRADING_COUNT_2M
Q1: 0.0, Q3: 3.0, IQR: 3.0, Upper: 7.5, Lower: -4.5
Column: TRADING_COUNT_3M
Q1: 0.0, Q3: 5.0, IQR: 5.0, Upper: 12.5, Lower: -7.5
Column: TRADING_COUNT_6M
Q1: 0.0, Q3: 11.0, IQR: 11.0, Upper: 27.5, Lower: -16.5
Column: GTGD_6M
Q1: 0.0, Q3: 319650000.0, IQR: 319650000.0, Upper: 799125000.0, Lower: -479475000.0
Column: VQGD_6M
Q1: 0.0, Q3: 0.7349554666709142, IQR: 0.7349554666709142, Upper: 1.8373886666772854, Lower: -1.1024332000063712
Column: PROFIT_LOSS
Q1: -2529394.0, Q3: 5571337.0, IQR: 8100731.0, Upper: 17722433.5, Lower: -14680490.5
Column: PROFIT_LOSS_PERCENTAGE
Q1: -1.601615726943643, Q3: 5.6300674272271785, IQR: 7.231683154170821, Upper: 16.47759215848341, Lower: -12.449140458199876
Column: ACTIVE_AGE
Q1: 312.0, Q3: 1322.0, IQR: 1010.0, Upper: 2837.0, Lower: -1203.0
Column: login_count_1M
Q1: 1.0, Q3: 21.0, IQR: 20.0, Upper: 51.0, Lower: -29.0
Column: login_count_2M
Q1: 2.0, Q3: 40.0, IQR: 38.0, Upper: 97.0, Lower: -55.0
Column: login_count_3M
Q1: 3.0, Q3: 60.0, IQR: 57.0, Upper: 145.5, Lower: -82.5
Column: login_count_6M
Q1: 10.0, Q3: 111.0, IQR: 101.0, Upper: 262.5, Lower: -141.5

In [56]:
# In ra dataset sau khi đã xử lý outlier và fill các giá trị null, gọi là fixed_data_active.csv
df_copy.to_csv("fixed_data_active.csv", index=False)